  <main role="main" class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            {{navigation}}
        </nav>
          <h3 class="text-muted"><a href="/"> {{@site.title}}<span id="blink"><b>_</b></a></span></h3>
      </div>

